@media (min-width: 1441px) {
	.container {
		max-width: 1380px;
		padding: 0 60px;
	}

	.main-header {
		padding-top: 60px;
	}

	.intro {
		padding-top: 200px;
		padding-bottom: 180px;
	}

	.pink-text {
		font-size: 16px;
	}

	.intro__title {
		font-size: 96px;
		line-height: 116px;
	}

	.intro__image {
		top: 110px;
	}

	.sale__image {
		top: -155px;
		right: 9vw;

		width: 422px;
		height: 335px;
	}

	.sale__title {
		margin-bottom: 25px;
	}

	.partners {
		padding-top: 125px;
		padding-bottom: 125px;
	}

	.products {
		padding-bottom: 120px;
	}

	.release {
		padding-bottom: 120px;
	}

	.release__item {
		justify-content: space-between;
		padding: 0 60px;
		margin-bottom: 120px;
	}

	.release__image-wrapper1 {
		margin-right: 200px;
	}

	.release__wrapper {
		margin: 0;
	}

	.release__wrapper1 {
		margin-right: 200px;
	}

	.release__item1 {
		position: relative;

		background: -webkit-linear-gradient(135deg, rgb(255, 240, 232) 69%, rgb(255, 124, 245));
		background: -moz-linear-gradient(135deg, rgb(255, 240, 232) 69%, rgb(255, 124, 245));
		background: linear-gradient(135deg, rgb(255, 240, 232) 69%, rgb(255, 124, 245));
	}

	.release__item2 {
		margin-bottom: 0px;

		background: -webkit-linear-gradient(45deg, rgb(255, 196, 162), rgb(217, 251, 235) 62%);
		background: -moz-linear-gradient(45deg, rgb(255, 196, 162), rgb(217, 251, 235) 62%);
		background: linear-gradient(45deg, rgb(255, 196, 162), rgb(217, 251, 235) 62%);
	}

	.release__info {
		position: absolute;
		right: 80px;
		bottom: 80px;
	}

	.release__series {
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		color: #FF3998;
	}

	.release__name {
		margin: 10px 0;

		color: #000;
	}

	.release__id {
		font-size: 18px;
		color: #777777;
	}

	.release__image-wrapper2 {
		margin-left: 110px;
	}

	.release__wrapper2 {
		margin-right: 100px;
	}
}