@media (min-width: 769px) {
	.container {
		width: 100%;
		padding: 0 40px;
		box-sizing: border-box;
	}

	.main-header {
		padding-top: 50px;
	}

	.menu {
		position: static;
		left: auto;
		top: auto;
		z-index: 0;

		display: block;
		justify-content: center;
		align-items: center;

		width: auto;
		height: auto;

		background-color: inherit;
	}

	.menu__item {
		margin-bottom: 0;

		text-align: left;
	}

	.menu__link {
		font-size: 20px;
		text-transform: none;
		color: #555555;
	}

	.menu-toggler {
		display: none;
	}

	.visually-hidden {
		display: block;
	}

	.menu__list {
		display: flex;
		justify-content: space-between;
		
		width: 370px;
	}

	.menu__link--pink {
		color: #FF3998;
	}

	.intro {
		padding-top: 120px;
		padding-bottom: 160px;
	}

	.intro__title {
		font-size: 65px;
		line-height: 80px;
	}

	.intro__subtitle {
		max-width: 50%;
	}

	.intro__image {
		top: -25px;
		left: 45%;

		width: 700px;
		height: 700px;
	}

	.sale {
		padding: 60px 0;
	}

	.sale__title {
		max-width: 45%;
	}

	.sale__subtitle {
		max-width: 45%;
	}

	.sale__image {
		top: -140px;
		right: 7vw;

		width: 350px;
		height: 300px;
	}

	.partners {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	
	.products__wrapper {
		max-width: calc(100vw - 100px);
	}

	.togglers-wrapper {
		display: flex;
		justify-content: space-between;

		width: 200px;
		margin: 0 auto;
		margin-top: 50px;
	}

	.toggler {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 50px;
		height: 50px;
		border-radius: 50%;

		background-color: #999999;
	}

	.toggler1 {
		transform: rotateZ(180deg);
	}

	.slider-wrapper {
		position: relative;
	}

	.slider__toggler {
		position: absolute;
		top: 0;

		width: 40px;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.1);
	}

	.slider__toggler1 {
		left: -20px;
		transform: rotateZ(180deg);
	}

	.slider__toggler2 {
		right: -20px;
	}

	.release__item {
		display: flex;
		flex-direction: row;

		height: 600px;
		padding: 0 40px;
		box-sizing: border-box;
	}

	.release__image--mobile {
		display: none;
	}

	.release__image--desktop {
		display: inline;
	}

	.release__item1::after {
		display: none;
	}

	.release__image-wrapper {
		display: flex;
		align-items: flex-end;
		order: 1;

		height: 100%;
		padding-bottom: 0;
	}

	.release__image-wrapper2 {
		order: 0;
		height: auto;
	}

	.release__wrapper {
		order: 0;

		text-align: left;
	}

	.release__image2 {
		width: 351px;
		height: 440px;
	}

	.nft-block {
		max-width: 600px;
	}

	.soon {
		padding: 100px 40px;
	}

	.soon__image {
		right: 60px;
	}

	.main-footer {
		padding:100px 0;
	}
}